<style>

    nav{
        width: 100%;
        height: 30px;
        background-color: grey;
    }

    h4{
        color:aquamarine;
        text-align: center;
    }
</style>

<nav>

    <h4>Soy el HEADER</h4>
</nav>