<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOLA</title>
</head>
<body style="background-color: black;">
                                                                        
    <h1 style="color: white; ">Hola son un archivo html desde EJS, me comparte <%= usuario.name %> </h1>

    <h1 style="color: white">Lista de Usuarios</h1>

    /*tenemos que poner despues de ( del foreach el elemento que*/
        /*va a definir cada elemento de nuestro objeto*/
    <% usuario.forEach(user => { %>
             <p style="color: white"><%=user.name%> => <%= user.email%></p>

    <% }) %>



</body>
</html>